*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  gap: 30px;
} 

.result {
  padding-top: 211px;
  align-content: flex-end;
}

.result__video-container {
  gap: 16px;
  height: 386px;
  width: 711px;
}

.result__video {
  object-fit: contain; /* РАСТЯНУТЬ ВИДЕО */
}
.content__details {
  align-content: flex-end;
  width: 100%;
}

.title {
  padding-top: 133px;
  padding-bottom: 26px;
}

.content__list-container {
  height: 298px;
  overflow: scroll;
  gap: 30px;
}

.content__list {
  gap: 30px; /*Разобраться с этим свойством */
}
.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
