*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  max-inline-size: 1200px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
} 

.result {
  margin-top: 120px;
  align-content: flex-end;
}

.result__video-container {
  display: block;
  height: 386px;
  width: 711px;
  position: relative;
}


.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__details {
  align-content: flex-end;
  width: 100%;
  margin-top:35px;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: grid;
  height: 298px;
  width: 390px;
  overflow: auto;
  gap: 30px;
  position: relative;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: right;

}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  padding-top: 8px;
}

.search-form__fieldset-title {
   color: rgba(255, 255, 255, 1);
   font-family: 'Fira Sans Condensed', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 22px;
   text-align: left;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card-title {
  color: rgba(255, 255, 255, 1);
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
}

.content__video-card-description {
  color: rgba(255, 255, 255, 1);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
  padding-top: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-top:2px;
}

.search-form__label {
  align-items: center;
  gap: 1.5px;
  cursor: pointer;
}

.search-form__label-text {
  display: inline-block;
  padding-top: 5px;
}


.search-form__textfield {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: none;
  border-left: none;
  color:#fff;
  background-color: rgba(27, 25, 25, 1);
  appearance: none;
  min-width: 225px;
  min-height: 27px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 19px;
  height: 19px;
  padding: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: border-color 0.2s ease;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.result__video-container .preloader,
.content__list-container .preloader {
  z-index: 2;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox {
  border-color: rgb(217 217 217 / 60%);
}

.button {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Fira Sans Condensed', sans-serif  ;
  font-size: 18px;
  background-color: transparent;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
background-color: rgba(84, 80, 80, 1);
}

.search-form__submit-button {
min-width: 194px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
align-self: flex-end
}

.more-button {
  width: 100%;
  justify-self: stretch;
  bottom: 0;
}